@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Login</title>


    <style>
        .container {
            width: 100vw;
            height: 100vh;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .box {
            width: 300px;
            min-height: 300px;
            height:auto;
            background: #fff;
            border-radius:8px;
            border:solid 1px #adb5bd  ;
        }
        
        .box-content {
            padding: 30px;
            text-align: center;
        }
        .shadow-m {
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
        }
        body {
            margin: 0px;
            padding: 0px;
        }

        span {
            color: red;
        }
        body {
            background-image:url(/Content/img/background.jpg)
        }
    </style>
    

</head>
<body>
    <div class="container">
        <div class="box shadow-m">
          
            <div class="box-content">


                <div class="logo" style="margin-bottom:20px;">
                    <img class="img-responsive" src="~/Content/img/fblogo.gif" />
                   
</div>

                <form class="g-3" action="/Login/ChecarLogin" method="post">
                    <span>@ViewBag.Erro</span>

                    <div class="input-group" style="margin-bottom:20px;">

                        <span class="input-group-addon" id="sizing-addon2"><svg class="bi" width="15" height="15" fill="currentColor"><use xlink:href="~/Content/bi.svg#person"></use></svg></span>

                        <input type="text" class="form-control" id="login" name="login" placeholder="Usuário" aria-describedby="sizing-addon2">
                    </div>
                   

                    <div class="input-group" style="margin-top:5px;">
                        <span class="input-group-addon" id="sizing-addon2"><svg class="bi" width="15" height="15" fill="currentColor"><use xlink:href="~/Content/bi.svg#lock"></use></svg></span>

                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                    </div>
                    <div class="col-auto ">
                        <button type="submit" style="margin-top:10px; width:100%;" class="btn btn-primary mb-3">Confirmar</button>
                    </div>
                    <p style="margin-top:10px;">Não é registrado? <span><a href="#">Crie uma conta</a></span></p>
                </form>


            </div>






        </div>


    </div>


</body>
</html>






