<div class="table-header">
    <strong class="col-md-6">Consulta de Clientes</strong>
    <div class="form-group m-r-20">
        <!--		Show Numbers Of Rows 		-->
        <select class="form-control" name="state" id="maxRows">
            <option value="5000">Show ALL Rows</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="100">100</option>
        </select>
    </div>
    <!--    Ajax para trazer a partial view GetClientes-->
    @using (Ajax.BeginForm(
"GetCliente",
"Procurar",
new AjaxOptions
{
    UpdateTargetId = "divResultadoConsulta",
    LoadingElementId = "divCarregando"
}
))
    {
        <div class="input-group" style="margin-bottom:20px;">
            <span class="input-group-addon" id="sizing-addon2"><input type="submit" class="btn-group" value="Pesqusiar" /></span>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="" aria-describedby="sizing-addon2">
        </div>
    }
</div>
<div id="divResultadoConsulta" class="">
</div>
<div id="divCarregando" class="progresso">
    <img src="@Url.Content("~/Content/carregando.gif")" />
    <br />
    Carregando...
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:ti@facilitybond.com.br">ti@facilitybond.com.br</a><br />
    <strong>Ramal:</strong> 4418-8336
</address>