@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<style type="text/css">

    .progresso {
        display: none;
        position: fixed;
        top: 360px;
        left: 50%;
        margin-top: -50px;
        margin-left: -100px;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border: 1px solid black;
        height: 90px;
        width: 120px;
    }
</style>



<h2>Consulta ao Cadastro de Produtos</h2>
<br />
Digite o nome do produto (ou parte desta identificação):

@using (Ajax.BeginForm(
        "GetCliente",
        "Procurar",
        new AjaxOptions
        {
            UpdateTargetId = "divResultadoConsulta",
            LoadingElementId = "divCarregando"
        }
    ))
{
    @Html.TextBox("nome")
    <input type="submit" value="Pesquisar" />

}

<div id="divResultadoConsulta">
</div>

<div id="divCarregando" class="progresso">
    <img src="@Url.Content("~/Content/carregando.gif")" />
    <br />
    Carregando...
</div>
